---
import Category from "./Category.astro";
import { Names } from "./Tag.astro";
---

<script>
    const wallpapers = [...document.querySelectorAll(".wallpaper")] as HTMLElement[];
    const categories = [...document.querySelectorAll(".category")] as HTMLElement[]
    const filter = document.querySelector("#filter");

    filter?.addEventListener("click", (e) => {
        const target = e.target as HTMLElement;

        if (target && target !== filter) {
            let select: string;

            if (target.textContent){
                select = target.textContent.trim().toLowerCase();
            }
            else {
                select = "all";
            }

            categories.forEach((category) => {
                if(category == target){
                    category.style.backgroundColor = "rgb(255,255,255)";
                    category.style.color = "rgb(0,0,0)";
                }
                else{
                    category.style.backgroundColor = "transparent";
                    category.style.color = "rgb(255,255,255)";
                }
            })

            wallpapers.forEach((wallpaper) => {
                const tags = wallpaper.dataset.tags?.split(",");

                if (select === "all" || tags?.includes(select)) {
                    wallpaper.style.display = "block";
                } else {
                    wallpaper.style.display = "none";
                }
            });
        }
    });
</script>
<div id="filter" class="flex flex-wrap gap-4">
    <Category content="all" />
    <Category content={Names.HTML} />
    <Category content={Names.CSS} />
    <Category content={Names.JS} />
    <Category content={Names.TYPESCRIPT} />
    <Category content={Names.REACT} />
    <Category content={Names.SVELTE} />
    <Category content={Names.VUE} />
    <Category content={Names.NODE} />
    <Category content={Names.TOOL} />
</div>
