---
import Tag from "./Tag.astro";
import type { Names } from "./Tag.astro";

interface Props{
    tags : Names[],
    title : string,
    src : string,
    animated? : boolean
}
const {title , src , animated , tags} = Astro.props;
---

<style>
    .animation {
        animation: animation 4s linear infinite;
    }
    @keyframes animation {
        to {
            rotate: 360deg;
        }
    }
</style>
<article class="wallpaper relative max-w-[450px] mx-auto" data-tags={tags}>
    <div
        class={`hidden bg-gradient-to-t animation from-indigo-500 via-pink-500 to-yellow-400 absolute inset-0 blur-xl -z-10 ${animated && "md:block"}`}
    >
    </div>
    <div class="aspect-[16/8]">
        <img
            class="w-full h-full object-cover rounded-tl-xl rounded-tr-xl"
            loading="lazy"
            alt={title}
            src={src}
        />
    </div>
    <div class="bg-zinc-900 p-4 rounded-bl-xl rounded-br-xl">
        <h3 class="text-2xl font-light mb-4">{title}</h3>
        <div class="flex flex-wrap gap-4 mb-6">
            { tags.map(t => <Tag name={t} />) }
        </div>
        <div class="flex justify-end">
            <slot/>
        </div>
    </div>
</article>
